title=Adblock Browser
noheading=True

<head>
  <meta content="https://adblockbrowser.org/images/promo-image.png" property="og:image" />
  <meta content="{{"Adblock Browser"|translate("meta-title", "meta title text")}}" name="title" />
  <meta content="{{"Browse fast, safe and free of annoying ads with Adblock Browser"|translate("meta-description", "meta description text")}}" name="description" />
  <meta content="{{"Adblock Browser"|translate("meta-title", "open graph meta title text")}}" property="og:title" />
  <meta content="{{"Browse fast, safe and free of annoying ads with Adblock Browser"|translate("meta-description", "open graph meta description text")}}" property="og:description" />
</head>

<div class="content-left">
<? include index ?>
</div>
<img id="promo-image" src="/images/promo-image.png" alt="{{"Promotional image"|translate("promotional-image-alt", "Alternative text for the Adblock Browser promotional image for big screens")}}" />
