title=Adblock Browser
description=Browse fast, safe and free of annoying ads with Adblock Browser
noheading=True

<head>
  <meta content="https://adblockbrowser.org/images/promo-image-1200x630.png" property="og:image" />
</head>

<div class="content-left">
<? include index ?>
</div>
<img id="promo-image" src="/images/promo-image.png" alt="{{"Promotional image"|translate("promotional-image-alt", "Alternative text for the Adblock Browser promotional image for big screens")}}" />
