title=Adblock Browser

<head>
  <meta content="https://adblockbrowser.org/images/promo-image.png" property="og:image" />
  <meta content="{{"Adblock Browser"|translate("meta-title")}}" name="title" />
  <meta content="{{"Browse fast, safe and free of annoying ads with Adblock Browser"|translate("meta-description")}}" name="description" />
  <meta content="{{"Adblock Browser"|translate("meta-title")}}" property="og:title" />
  <meta content="{{"Browse fast, safe and free of annoying ads with Adblock Browser"|translate("meta-description")}}" property="og:description" />
</head>

<div class="content-left">
<? include index ?>
</div>
<img id="promo-image" src="/images/promo-image.png" alt="{{"Promotional image"|translate("promotional-image-alt")}}" />
