{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-present eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<!DOCTYPE html>
<html lang="{{locale}}" dir="{{"rtl" if config.has_option("rtl", locale) else "ltr"}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title|translate("title")}}</title>
    <meta property="og:title" content="{{ title | translate("title") }}">
    {% if description %}
      <meta name="description" content="{{ description | translate("meta-description", "Page description") }}">
      <meta property="og:description" content="{{ description | translate("meta-description") }}">
    {% endif %}
    <meta property="og:locale" content="{{ locale | to_og_locale }}">
    {% for alternate_locale in available_locales %}
      {% if alternate_locale != locale %}
        <meta property="og:locale:alternate" content="{{ alternate_locale | to_og_locale }}">
      {% endif %}
    {% endfor %}
    <meta property="og:url" content="{{ config.get("general", "siteurl") }}{{ source.resolve_link(page, locale)[1] }}">
    <link rel="canonical" href="{{ get_canonical_url(page) }}" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="apple-touch-icon" href="/images/favicon-large.png" />
    {{head|safe}}
    <!--[if lt lte 9]>
      <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="content-block">
        <div>
          {{"index"|linkify(id="logo")}}
            <img src="/images/adblock-browser-logo.png" alt="{{get_string("abb-logo-alt", "header")}}" />
          </a>
        </div>
        <a href="https://adblockplus.org/" id="bookmark">
          <span>{{get_string("bookmark", "header")}}</span>
          <img src="/images/abp-grey-logo.png" alt="{{get_string("abp-logo-alt", "header")}}" />
        </a>
      </div>
    </header>
    <div id="content-wrapper">
      <div id="content" class="content-block">
        {% if not noheading %}
        <h1>{{title|translate("title")}}</h1>
        {% endif %}
        {{body|safe}}
      </div>
    </div>
    <footer>
      <div class="content-block">
        <p>
        © 2017 <a href="https://eyeo.com/">Eyeo GmbH</a>  /  Adblock Browser™ and <a href="https://adblockplus.org/">Adblock Plus™</a> are registered trademarks of Eyeo GmbH / <a href="https://adblockplus.org/en/privacy#adblock-browser-android">Privacy Policy</a>
        </p>
        <select id="language">
          {% for lang in available_locales %}
            <option 
              {% if locale == lang %}selected="selected"{% endif %}
              value="{{source.resolve_link(page, lang)[1]}}">
              {{config.get("langnames", lang)}}
            </option>
          {% endfor %}
        </select>
        <div id="social-media">
          <a href="https://www.facebook.com/adblockplus">
            <img src="/images/facebook.png" alt="{{get_string("facebook-icon-alt", "footer")}}" />
          </a>
          <a href="https://twitter.com/adblockplus">
            <img src="/images/twitter.png" alt="{{get_string("twitter-icon-alt", "footer")}}" />
          </a>
          <a href="https://plus.google.com/+AdblockPlus">
            <img src="/images/gplus.png" alt="{{get_string("gplus-icon-alt", "footer")}}" />
          </a>
        </div>
      </div>
    </footer>
    {% if page == "index" %}
      <div id="overlay">
        <div id="modal">
          <a href="#" id="modal-close"></a>
          <? include modal ?>
        </div>
      </div>
    {% endif %}
    <script src="/js/main.js"></script>
  </body>
</html>
