{{"Open the Adblock Browser app."|translate("open-app", "Open application step text")}}</li>
<li>{{"Tap"|translate("tap", "Navigation to settings page instruction before Adblock browser icon image")}} <img src="/images/adblock-browser-icon.png" alt="{{"Adblock Browser icon"|translate("adblock-browser-icon-alt", "Alternative text of Adblock Browser icon")}}" /> {{"and select <strong>Settings</strong>."|translate("select-settings", "Navigation to settings page instruction after Adblock browser icon image")}}</li>
