{{"Open the Adblock Browser app."|translate("open-app", "Open application step text")}}</li>
<li>{{"Tap"|translate("tap", "Navigation to settings page instruction before hamburger menu image")}} <img src="/images/android-hamburger-icon.png" alt="{{"Android hamburger menu icon"|translate("android-hamburger-alt", "Alternative text of android settings hamburger menu icon")}}" /> {{"and select <strong>Settings</strong>."|translate("select-settings", "Navigation to settings page instruction after hamburger menu image")}}</li>
