{{"Open the Adblock Browser app."|translate("open-app")}}</li>
<li>{{"Tap"|translate("tap")}} <img src="/images/android-hamburger-icon.png" alt="{{"Android hamburger menu icon"|translate("android-hamburger-alt")}}" /> {{"and select <strong>Settings</strong>."|translate("select-settings")}}</li>
