{{"Open the Adblock Browser app."|translate("open-app")}}</li>
<li>{{"Tap"|translate("tap")}} <img src="/images/adblock-browser-icon.png" alt="{{"Adblock Browser icon"|translate("adblock-browser-icon-alt")}}" /> {{"and select <strong>Settings</strong>."|translate("select-settings")}}</li>
